header.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 80px auto 80px;
    align-items: center;

    color: rgba(#ffffff, .87);
    background-color: $brand-primary;
    box-shadow: 0 3px 6px rgba(#000, .27);
    z-index: 100;

    > .menu{
        padding-left: 15px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        background-image: linear-gradient(to right, rgba(#000, .4), rgba(#000, 0));
        transition: background .3s;
        cursor: pointer;

        &:hover{
            background-image: linear-gradient(to right, rgba(#000, .6), rgba(#000, 0));
        }

        > i.fa{
            padding-right: 5px;
            font-size: 26px;
        }
    }

    > .company{
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
        font-weight: bolder;
    }

    > .logout{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 768px){
            justify-content: flex-end;
        }

        background-image: linear-gradient(to left, rgba(#000, .4), rgba(#000, 0));
        transition: background .3s;
        cursor: pointer;

        &:hover{
            background-image: linear-gradient(to left, rgba(#000, .6), rgba(#000, 0));
        }

        > i.fa{
            padding-right: 5px;

            @media(max-width: 768px){
                padding-right: 15px;
            }
        }
    }
}