.component-page-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $white;
    font-size: 100px;

    background-color: rgba($black, .5);
    background-image: linear-gradient(45deg, rgba($brand-primary, .4), rgba($brand-accent, .8));
    z-index: 1500;
}