<div class="view-aside" ng-class="{'open': asideOpen}" ng-controller="cAside as $ctrl">

    <div class="back-menu" ng-click="toggleAside()">
        <i class="fa fa-chevron-left"></i> {{CONFIGS.COMPANY.name}}
    </div>

    <div class="features-group">
        <div class="category">
            <h4 class="text-primary rm-bottom"><small>Seção:</small> Principal</h4>
        </div>

        <div class="item-group">
            <!--has link-->
            <div class="item" ui-sref="main.panel" ui-sref-active="active">
                <i class="fa fa-angle-right"></i> Ínicio
            </div>
        </div>

    </div>

    <div class="features-group" ng-repeat="category in $ctrl.pages" ng-if="category.items.length">
        <div class="category">
            <h4 class="text-primary rm-bottom"><small>Seção:</small>{{category.name}}</h4>
        </div>

        <div class="item-group" ng-repeat="item in category.items" ng-class="{'has-items': item.items.length}">
            <!--no link-->
            <div class="item" ng-if="!item.page_ref">
                <i class="fa fa-angle-down"></i> {{item.name}} <span class="badge pull-right">{{item.items.length}}</span>
            </div>
            <!--has link-->
            <div class="item" ng-if="item.page_ref" ui-sref="{{item.page_ref}}" ui-sref-active="active">
                <i class="fa fa-angle-right"></i> {{item.name}}
            </div>

            <!--sub item-->
            <div class="sub-item" ng-repeat="subitem in item.items" ui-sref="{{subitem.page_ref}}" ui-sref-active="active">
                {{subitem.name}}
            </div>
        </div>

    </div>

</div>
<div class="view-aside-overlay hidden-xs" ng-class="{'open': asideOpen}" ng-click="toggleAside()"></div>