<div class="modal-header">
    <button class="close" type="button" ng-click="$ctrl.close()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-picture"></i> Imagem do slider</h4>
</div>
<div class="modal-body">

    <img class="img-responsive center-block" ng-src="../images/slider/{{$ctrl.data}}" alt="{{$ctrl.data}}" />

</div>
<div class="modal-footer">
    <button class="btn btn-danger-outline btn-xs" type="button" ng-click="$ctrl.close()">Fechar</button>
</div>
